@font-face {
    font-family: 'Retro Computer';
    src: url(font/retrocomputer.ttf);
    font-family: 'Brodies';
    src: url(font/brodies.ttf);
    font-family: 'Silk Flower';
    src: url(font/Silk\ Flower.otf);
    font-family: 'Qanoar';
    src: url(font/Qanoar.otf);
    font-family: 'Marlowe';
    src: url(font/MarloweFreeForPersonalUseOnly-Regular.otf);
}

body{
    background-color: #d88dd3;
    max-width: 1200px;
    margin: auto;
    border-style: 10px lightcoral dotted;
}

header{
    width: 300px;
    text-align: center;
    position: fixed;
    top: 50px;
    left: 25px;
    font-family: 'Retro Computer';
    
}

header:hover {
    opacity: 0.25;
    
}

nav {
    color: #7600ff;
    width: 300px;
    position: fixed;
    top: 185px;
    left: 15px;
    font-family: helvetica;
    text-align: center;
    margin: 10px;
    font-size: 12px;

}

nav h3:hover {
    background-color: #f471ff;
}

main {
    background-color: #ffd7fe;
    border-style: 10px white dotted;
    width: 650px;
    margin-left: 350px;
}

h1 {
    font-family: 'Retro Computer';
    color: #7600ff;
    text-align: center;
    font-size: 40px;
    border-style: 10px hotpink dotted;
}

h1:hover {
    background-color: #f471ff;
}

section {
    text-align: center;
    padding: 20px;
}

section img{
    width: 300px;
    border: 10px lightcoral dotted;
    padding: 30px;
}

section img:hover{
    background-color: #f471ff;
}


video {
    width: 300px;
    border: 10px lightcoral dotted;
    padding: 10px;
}

section video:hover{
    background-color: #f471ff;
}


p{
    font-family: helvetica;
    color: royalblue;
    padding: 10px;
    font-size: 17px
}


footer {
    width: 300px;
    position: fixed;
    bottom: 50px;
    left: 25px;
    font-family: helvetica;
    color: darkgreen;

}


#splashgif {
    text-align: center;
   
}