@font-face {
    font-family: 'Retro Computer';
    src: url('font/retrocomputer.ttf');
    font-family: 'Rubik Pixels';
    src: url('font/rubikpixels.ttf');
    font-family: 'Google Pixel';
    src: url('font/googlepixel.ttf')
}

body{
    background-color: #d88dd3;
    max-width: 1200px;
    margin: auto;
    border-style: 10px lightcoral dotted;
}

header{
    width: 300px;
    text-align: center;
    position: fixed;
    top: 50px;
    left: 25px;
    
}

header:hover {
    opacity: 0.25;
    
}

nav {
    color: #7600ff;
    width: 250px;
    position: fixed;
    top: 200px;
    left: 30px;
    font-family: helvetica;
    text-align: center;
    margin: 10px;
    font-size: 12px;
    background-color: rgb(196, 210, 255);  border: 10px lightseagreen dotted;

}

nav h3:hover {
    background-color: #f471ff;
  
}

main {
    background-color: #ffd7fe;
    border-style: 10px white dotted;
    width: 650px;
    margin-left: 350px;
}

h1 {
    top: 10px;
    font-family: 'Google Pixel';
    color: #7600ff;
    text-align: center;
    font-size: 60px;
    border-style: 10px hotpink dotted;
}

h1:hover {
    background-color: #f471ff;
}


h2:hover{
    background-color: #f471ff;

}

section {
    text-align: center;
    padding: 20px;
}

section img{
    width: 300px;
    border: 10px lightcoral dotted;
    padding: 30px;
}

section img:hover{
    background-color: #f471ff;
}


video {
    width: 300px;
    border: 10px lightcoral dotted;
    padding: 10px;
}

section video:hover{
    background-color: #f471ff;
}


p{
    font-family: helvetica;
    color: royalblue;
    font-size: 17px
}


footer {
    position: fixed;
    bottom: 3px;
    left: 120px;
}

footer:hover{
    background-color: #f471ff;
    opacity: 0.25;
}

#splashgif {
    text-align: center;
   
}

